```css
/*Fonts*/
@font-face {
  font-family: 'Life Savers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lifesavers/v13/ZXuie1UftKKabUQMgxAal8lsHAt5u8vA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Life Savers Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lifesavers/v13/ZXu_e1UftKKabUQMgxAal8HXOR5Umcbqp-RX.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Box Model*/
html {
    padding: 0, 20px, 20px, 20px;
}

/*Background*/
html {
    background: rgb(12,123,220);
}

/*Text Formatting*/
html {
    font-family: 'Life Savers', cursive;
    color: rgb(225, 194, 10);
    height: 100%;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

h1 {
    font-family: 'Life Savers Bold';
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-style: italic;
}

p {
    font-size: 1.5em;
    text-align: center;
    text-indent: 40px;
}

.sig {
    text-align: right;
    font-style: italic;
}

```
